@import url(webfont.css);

html, body{
	margin:0px;
	padding:0px;
	text-align:center;
	height:100%;
	background:#F0F0F0;
	font-family: "Karla", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#page{
	display:inline-block;
	max-width:960px;
	width:100%;
}

#page > h1{
	margin:0px;
	font-weight:bold;
	font-size:32px;
	margin-top:100px;
	color:hsla(208, 26%, 26%, 1);
}

#page > p{
	font-size:20px;
	margin:40px 0px;
	margin-top:20px;
	color:hsla(208, 26%, 26%, 1);
}

.tile{
	display:inline-block;
	width:270px;
	vertical-align:top;
	text-align:left;
	padding:0px;
	margin:10px;
	background:hsla(208, 26%, 26%, 1);
	box-shadow:0px 3px 10px rgba(0,0,0,0.1);
	color:#FFF;
}

.tile .metadata{
	background:hsla(208, 26%, 16%, 1);
	padding:30px 0px;
	display:none;
	position:relative;
	float:left;
}

.tile .metadata.visible{
	display:block;
}

.tile .metadata:before{
	content:'';
	position:absolute;
	top:0px;
	left:100%;
	width:99999px;
	height:100%;
	background:hsla(208, 26%, 16%, 1);
}

.tile .metadata:after{
	content:'';
	position:absolute;
	top:0px;
	right:100%;
	width:99999px;
	height:100%;
	background:hsla(208, 26%, 16%, 1);
}

.tile .metadata h1{
	font-size:18px;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}

.tile .metadata h2{
	margin:0px;
	background:#FFF;
	border-radius:20px;
	display:inline-block;
	color:#000;
	font-size:14px;
	padding:5px 10px;
	margin-bottom:10px;
}

.tile .metadata p{
	margin:0px;
}

img{
	width:250px;
	margin:10px;
	border-radius:3px;
	float:left;
	cursor:pointer;
}